body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin:0;
    background-color: aquamarine;
    transition: 0.3s;
}
button{
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 8px;
    background-color: azure;
}